body{margin:0; padding:0; font-size:14px; font-family:"宋体"; color:#3E3E3E;}
h1,h2,h3,h4,h5,p,ul,li,dl,dt,dd,input,button,img,ol{margin:0; padding:0; list-style:none; border:0; outline:none;}/*outline:none;清除input默认样式*/
a:link,a:visited{color:#3E3E3E; text-decoration:none;}
a:hover{text-decoration:underline;}

.container {
	width: 1000px;
	margin: 20px auto;
}
.container h1 {
	text-align: center;
	font-size: 30px;
}
.mycar {
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	color: #f00;
	margin: 10px 0 30px 200px;
}
.mycar i {
	font-style: normal;
	float: right;
	font-size: 22px;
	margin-top: -4px;
	vertical-align: -3px;
}
.list dl {
	float: left;
	border: 1px solid #ccc;
	text-align: center;
	margin: 0 10px 10px 0;
	padding: 0 0 10px;
}
.list dl dt img {
	width: 220px;
	display: block;
}
.list dl dd {
	line-height: 22px;
}
.list dl dd button {
	padding: 6px 12px;
	background-color: #8b0000;
	color: #fff;
	cursor: pointer;
}